.popup__input-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    margin:0 auto 30px;
    width: calc(100% - 72px);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000000;
  }